body { 
  background: url(img/bg-principal-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
buttons{
margin-right: 150px;
}